<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>App</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="container">
    <fieldset>
      <form action="/" method="post">
        <input name="word" type="text" class="ghost-input" placeholder="Çıkan harfleri girin (.cem...k) gibi" required value=<%= locals.word %> >
        <input name="wrongLetters" type="text" class="ghost-input" placeholder="Yanlış harfleri girin (dfg) gibi" value=<%= locals.wrongLetters %>>
        <input type="submit" class="ghost-button" value="Bul">
      </form>
      <% if(yanit !== null){ %>
      <p><%= yanit %></p>
      <p><img src="/images/logo.jpg" /></p>
      <% } %>

      <% if(error !== null){ %>
      <p><%= error %></p>
      <% } %>
    </fieldset>
  </div>
</body>

</html>